/* RESET */

/**RESET**/
/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
	blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
	em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
	b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
	details, embed, figure, figcaption, footer, header, hgroup, menu, nav,
	output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup,
	menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.table {
	text-align: center;
}

html {
	font-size: 1em;
	font-family: 'Poppins', sans-serif;
}

@media ( min-width : 768px) {
	html {
		font-size: 16px;
	}
}

.lightSection {
	font-size: 1em;
	padding: 3em;
	text-align: center;
}

.lightSection h1 {
	text-align: center !important;
	text-transform: uppercase;
}

.darkSection {
	background-color: firebrick;
	padding: 3em;
}

.darkSection h4 {
	color: white;
}

.darkSection p {
	color: rgba(255, 255, 255, 0.5);
}

#aboutUs, #pricing, #contact, #instagramFeed, #team {
	padding-top: 30px;
}

#aboutUs {
	background-color: firebrick;
	color: white;
}

/*Navbar */
#mainNav {
	background-color: firebrick;
}

#mainNav ul {
	font-size: 0.8em;
}

#mainNav li {
	margin-right: 12px;
}

#mainNav a {
	color: white;
	text-transform: uppercase;
}

#mainNav ul a:hover {
	border: 2px solid white;
	color: silver;
}

/* Landing Banner */
.banner {
	background: url(../images/banner.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	min-height: 720px;
	background-size: cover;
	color: black;
	text-align: center;
}

.banner h1 {
	padding-top: 2em;
	font-size: 5em;
	color: firebrick;
	text-shadow: 4px 4px 2px gray;
}

.modal-dialog {
      max-width: 800px;
      margin: 30px auto;
  }

.modal-body {
  position:relative;
  padding:0px;
}
.close {
  position:absolute;
  right:-30px;
  top:0;
  z-index:999;
  font-size:2rem;
  font-weight: normal;
  color:#fff;
  opacity:1;
}

/* stats */
#stats {
	background: firebrick;
	padding-top: 7.2rem;
	padding-bottom: 6rem;
	text-align: center;
	padding-left: 3em;
	padding-right: 3em;
}

#stats .stat-count {
	font-size: 3rem;
	margin-top: 1.2rem;
	margin-bottom: 0;
	color: white;
}

.far {
	color: white;
}

.fas {
	color: white;
}

#stats .stat-title {
	color: rgba(255, 255, 255, 0.5);
}

/* Pricing */
.container {
	max-width: 960px;
}

.card-deck .card {
	min-width: 220px;
}

.border-top {
	border-top: 1px solid #e5e5e5;
}

.border-bottom {
	border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
	box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.bronze {
	background-color: #A67D3D;
}

.silver {
	background-color: #E6E8FA;
}

.gold {
	background-color: #D9D919;
}

/* End Pricing */
/* Contact us */
.contact-us {
	text-align: center;
	color: gray;
}

#map {
	justify-content: center;
	height: 300px; /* The height is 400 pixels */
	width: 100%; /* The width is the width of the web page */
}

/*register.jsp*/
.standardLayout {
	background: lightgray !important;
	padding-bottom: 3em;
	padding-top: 6em;
}

.standardLayout h1 {
	text-align: center;
	color: firebrick;
	font-size: 3.2em;
	text-transform: uppercase;
}

.headings {
	font-weight: bold;
	color: firebrick;
}

.formInput {
	max-width: 500px;
	padding: 0px 16px 16px 16px;
	background: #d92626;
	color: white;
	text-transform: uppercase;
}

.formInput h1 {
	background: black;
	padding: 20px 0;
	font-size: 140%;
	font-weight: 300;
	text-align: center;
	color: white;
	margin: -16px -16px 16px -16px;
}

.formInput h3 {
	background: black;
	padding: 10px 0;
	font-size: 140%;
	font-weight: 300;
	text-align: center;
	color: white;
	margin: -16px -16px 16px -16px;
}

.formInput input[type="text"], .formInput input[type="date"], .formInput input[type="datetime"],
	.formInput input[type="email"], .formInput input[type="number"],
	.formInput input[type="password"], .formInput textarea, .formInput select
	{
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	background: #fff;
	margin-bottom: 4%;
	border: 1px solid #ccc;
	padding: 3%;
	color: #555;
	font: 95% Arial, Helvetica, sans-serif;
}

.formInput input[type="text"]:focus, .formInput input[type="date"]:focus,
	.formInput input[type="datetime"]:focus, .formInput input[type="email"]:focus,
	.formInput input[type="number"]:focus, .formInput textarea:focus,
	.formInput input[type="password"]:focus, .formInput select:focus {
	box-shadow: 0 0 5px black;
	padding: 3%;
	border: 2px solid black;
}

.formInput input[type="submit"], .formInput input[type="button"] {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	background: black;
	border-bottom: 2px solid black;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	color: #fff;
}

.formInput button[type="submit"]:hover, .formInput input[type="button"]:hover
	{
	background: black;
	color: white;
}

button[type="submit"]:hover, input[type="button"]:hover {
	background: black;
	color: white;
}
/*Display profile/user information*/
.displayInformation {
	padding-top: 2em;
	max-width: 768px
}

.viewMatches img {
	height: 200px;
	width: 200px;
}

.instagram2 {
	padding-top: 50px;
	padding-left: 100px;
}

#floating-panel {
	margin-top: 400px;
	position: absolute;
	top: 10px;
	left: 25%;
	z-index: 5;
	background-color: firebrick;
	padding: 5px;
	border: 1px solid #999;
	text-align: center;
	line-height: 20px;
	padding-left: 10px;
	font-size: 10px;
}

.senderMessage {
	float: right;
	border: 2px solid black;
	height: 100px;
	width: 280px;
	background-color: firebrick;
	color: white;
	border-radius: 25px;
	padding: 4px;
}

.recipientMessage {
	float: left;
	border: 2px solid black;
	height: 100px;
	width: 280px;
	background-color: firebrick;
	color: white;
	border-radius: 25px;
	padding: 4px;
}

.senderMessage2 {
	display: block;
	margin-top: 15px;
}

.recipientMessage2 {
	display: block;
	margin-top: 15px;
}

.dateSent {
	color: black;
	font-style: italic;
	font-size: 12px;
}

.messageContent {
	padding-left: 10em;
	padding-right: 10em;
}

#map-canvas {
	justify-content: center;
	height: 300px;
	width: 100%;
}

#street-view {
	justify-content: center;
	height: 300px;
	width: 100%;
}

#mapDistance {
	justify-content: center;
	height: 300px;
	width: 100%;
}

.card-text {
	text-align: center;
}

#team {
	padding-left: 6.2em;
	padding-right: 4em;
}

.team p {
	color: white;
	font-size: 1.4em;
	font-weight: bold;
}

.card {border
	
}

.card-img-top {
	border-radius: 50%;
	border: 2px solid firebrick;
}

.viewMatches img {
	border-radius:50%;
}

#mainNav button {
	background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color:white;
    margin-top:1.7px;
    text-transform:uppercase;
    font-size:1em;
}

#mainNav button:hover {
	border: 2px solid white;
	color: silver;
}