/* RESET */

/**RESET**/
/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
	blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
	em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
	b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
	details, embed, figure, figcaption, footer, header, hgroup, menu, nav,
	output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup,
	menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.table {
	text-align: center;
}

html {
	font-size: 1em;
	font-family: 'Poppins', sans-serif;
}

@media ( min-width : 768px) {
	html {
		font-size: 16px;
	}
}

.lightSection {
	font-size: 1em;
	padding: 3em;
	text-align:center;
}

.darkSection {
	
	
}

/*Navbar */
#mainNav {
	background-color: firebrick;
}

#mainNav ul {
	font-size: 0.8em;
}

#mainNav li {
	margin-right: 12px;
}

#mainNav a {
	color: white;
	text-transform: uppercase;
}

#mainNav ul a:hover {
	border: 2px solid white;
	color: silver;
}

/* Landing Banner */


.banner {
	background: url(../images/banner.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	min-height: 720px;
	background-size: cover;
	color: white;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	font-size: 1.4em;
}

/* stats */

#stats {
	background: firebrick;
	padding-top: 7.2rem;
	padding-bottom: 6rem;
	text-align: center;
	padding-left:3em;
	padding-right:3em;
}

#stats .stat-count {
	font-size: 3rem;
	margin-top: 1.2rem;
	margin-bottom: 0;
	color: white;
}

#stats .far {
	color:white;
}

#stats .fas {
	color:white;
}

#stats .stat-title {
	color: rgba(255, 255, 255, 0.5);
}

/* Pricing */
.container {
	max-width: 960px;
}

.pricing-header {
	max-width: 700px;
}

.card-deck .card {
	min-width: 220px;
}

.border-top {
	border-top: 1px solid #e5e5e5;
}

.border-bottom {
	border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
	box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

/* End Pricing */
/* Contact us */
.contact-us {
	text-align: center;
	color: gray;
}

#map {
	justify-content: center;
	height: 400px; /* The height is 400 pixels */
	width: 100%; /* The width is the width of the web page */
}


/*register.jsp*/

.standardLayout {
	background: lightgray !important;
	padding-bottom:3em;
	padding-top:2.5em;
}

.formInput {
    max-width: 500px;
    margin: 100px auto;
    padding: 0px 16px 16px 16px;
    background: #d92626	;
    color:white;
	text-transform: uppercase;
}

.formInput h1{
    background: black;
    padding: 20px 0;
    font-size: 140%;
    font-weight: 300;
    text-align: center;
    color: white;
    margin: -16px -16px 16px -16px;
}
.formInput input[type="text"],
.formInput input[type="date"],
.formInput input[type="datetime"],
.formInput input[type="email"],
.formInput input[type="number"],
.formInput textarea,
.formInput select 
{
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    background: #fff;
    margin-bottom: 4%;
    border: 1px solid #ccc;
    padding: 3%;
    color: #555;
    font: 95% Arial, Helvetica, sans-serif;
}
.formInput input[type="text"]:focus,
.formInput input[type="date"]:focus,
.formInput input[type="datetime"]:focus,
.formInput input[type="email"]:focus,
.formInput input[type="number"]:focus,
.formInput textarea:focus,
.formInput select:focus
{
    box-shadow: 0 0 5px #43D1AF;
    padding: 3%;
    border: 2px solid #43D1AF;
}

.formInput input[type="submit"],
.formInput input[type="button"]{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    padding: 3%;
    background: #43D1AF;
    border-bottom: 2px solid #30C29E;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;    
    color: #fff;
}

.formInput button[type="submit"]:hover,
.formInput input[type="button"]:hover{
    background: #2EBC99;
}

/*Display profile/user information*/

.displayInformation {
	padding-top:2em;
	max-width: 768px
}
